.cardbody {
    background: var(--card-body-color);
    padding: 2% 5%;    
    border-bottom: 1px solid var(--card-border-color);
    border-radius: 10px 10px 00px 00px;
}

.cardTitle{
    font-size: 14px;
}

.cardfooter {
    background: var(--card-footer-color);
    padding: 5%;
    border-radius: 00px 00px 10px 10px;
    display: flex;
    justify-content: space-between
}

.BetSlip{
    display: flex;
    flex-direction: column;    
    border: 1px solid var(--card-border-color);
    margin: 2%;
    border-radius: 10px;
}


.selectionCard {  
    flex-grow: 1;  
    margin: 0 3%;
    background-color: #1976d2;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;    
    padding: 0.5em;
    box-shadow: 0px 3px 8px hsl(229, 6%, 66%);        
  }
  