.Event {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    margin: 3% 0;
}

:root {
    --card-color: #ffffff;
    --card-header-color: #ffffff;
    --card-body-color: #ffffff;
    --card-footer-color: #ffffff;
    --card-border-color: #cdccd0;
}

.card {
    margin: 3% 0;
    background: var(--card-color);
    color: black;
    width: 90%;    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
}

.cardheader {
    background: var(--card-header-color);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5%;
}

.cardbody {
    background: var(--card-body-color);
    padding: 3% 5%;
    border-top: 1px solid var(--card-border-color);
    border-bottom: 1px solid var(--card-border-color);
}

.cardfooter {
    background: var(--card-footer-color);
    padding: 5%;
    border-radius: 00px 00px 10px 10px;
    display: flex;
    justify-content: space-between
}