:root {
    --list-backgorund-color: #f6f6f6;
    --card-color: #ffffff;
    --card-header-color: #ffffff;
    --card-body-color: #ffffff;
    --card-footer-color: #ffffff;
    --card-border-color: #cdccd0;
}

.App{
    background-color: #f6f6f6;    
    height: 100vh;
}

